.library-main-body-container {
    height: calc(100vh - 120.5px);
}

.library-container {
    margin:0;
    max-height: calc(100vh - 120.5px);
    width: 100vw;
    overflow:hidden;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    background-image: url('../images/gaming-background.png'); 
    /* background-image: url('./images/smaller-gaming-background3.png');  */
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
}

.library-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    overflow: auto;
    padding-top: 30px;
    padding-bottom: 50px;
    max-height: calc(100vh - 120.5px);
}

.library-h1 {
    margin-top: 0;
    margin-bottom: 20px;
}

.library-logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 60px 60px 60px;
    background-color: #4c4c4b;
    border: 5px solid #2ca627;
    box-shadow: 0 0 20px 30px black, inset 0 0 0 5px white;
    border-radius: 0.5em;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
}

.library-logo-imgs {
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.library-logo-container img {
    max-height: 100px;
  }

.library-logo-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #4c4c4b;
    border: 5px solid #2ca627;
    border-radius: 0.5em;
    width: 100%;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    box-shadow: 0 0 15px 20px black, inset 0 0 0 5px white;
    transition: transform 0.3s ease-in-out;
    position: relative;
}

.library-logo-header {
    margin-bottom: 40px;
}

.library-logo-box:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

.active {
    box-shadow: 0 0 15px 20px #479acd, inset 0 0 0 5px #2ca627;
    transform: scale(1.1);
    border: 5px solid black;
}

.active-in-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #4c4c4b;
    border: 5px solid #2ca627;
    border-radius: 0.5em;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    box-shadow: 0 0 20px 30px black, inset 0 0 0 5px white;
    margin-top: 80px;
    margin-bottom: 40px;
    height: fit-content;
    position: relative;
}

.img-active-in-grid {
    max-height: 150px;
}

.active-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
    width: fit-content;
    gap: 100px;
}

.library-connect-btn {
    margin-top: 15px;
    background-color: #761cbc;
    color: white;
    font-family: 'Roboto', sans-serif;
    border: 2px solid black;
    border-radius: 0.5em;
    padding: 5px 15px;
    font-size: 15px;
    transition: transform 0.3s ease-in-out;
}

.library-connect-btn:hover {
    background-color: #a35ad0;
    cursor: pointer;
    transform: scale(1.1);
    font-size: 16px;
}

.library-anchor {
    width: 150px;
    height: fit-content;
    
}

.library-steam-list {
    font-size: 10px;
    margin-top: 20px;
}

.library-game-list-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #4c4c4b;
    border: 5px solid #2ca627;
    border-radius: 0.5em;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    box-shadow: 0 0 20px 30px black, inset 0 0 0 5px white;
    margin-top: 40px;
    margin-bottom: 40px;
    height: fit-content;
    width: fit-content;
}

.library-h1-games {
    text-decoration: underline;
    text-underline-offset: 10px;
    margin-bottom: 30px;
} 

.library-game-list-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    padding-left: 40px;
    padding-right: 40px;
}

.library-game-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
}

.library-view-games-btn {
    background-color: #761cbc;
    color: white;
    font-family: 'Roboto', sans-serif;
    border: 2px solid black;
    border-radius: 0.5em;
    padding: 5px 15px;
    font-size: 15px;
    transition: transform 0.3s ease-in-out;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.library-games {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}