.profile-main-body-container {
    height: calc(100vh - 120.5px);
}

.profile-container {
    margin:0;
    max-height: calc(100vh - 120.5px);
    width: 100vw;
    overflow:hidden;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    background-image: url('../images/gaming-background.png'); 
    /* background-image: url('./images/smaller-gaming-background3.png');  */
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    background-attachment: fixed;
    /* height: 100vh; */
    width: 100vw;
    height: 100vh;
}

.profile-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3d3d3d;
    border: 5px solid #2ca627;
    border-radius: 0.5em;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 40px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    box-shadow: 0 0 30px 40px black, inset 0 0 0 5px white;
}