.search-main-body-container {
    height: calc(100vh - 120.5px);
}

.search-container {
    margin:0;
    max-height: calc(100vh - 120.5px);
    width: 100vw;
    overflow:hidden;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    background-image: url('../images/gaming-background.png'); 
    /* background-image: url('./images/smaller-gaming-background3.png');  */
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
}

.search-main-body {
    display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: calc(100vh - 120.5px);
}

.serach-form-main-container {
    display: flex;
    justify-content: center;
}

.search-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    overflow: auto;
    padding-top: 30px;
    padding-bottom: 50px;
    max-height: calc(100vh - 120.5px);
}

.search-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4c4c4b;
    border: 5px solid #2ca627;
    border-radius: 0.5em;
    max-width: 100%;
    height: auto;
    margin: 0;
    margin-top: 50px;
    padding: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    box-shadow: 0 0 30px 40px black, inset 0 0 0 5px white;
}

.search-h1 {
    margin: 0;
}

.search-p:nth-of-type(1) {
    margin-bottom: 0;
}

.search-second-search {
    margin-bottom: 0;
}

.search-line {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.search-line .search-p {
    margin-top: 0;
}

.search-line .search-hr {
    width: 100px;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #2ca627 !important;
  }


.search-title-btn {
    width: auto !important;
}

.search-card-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
    width: fit-content;
  }

.search-error {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}